openapi: 3.0.3
tags: [name: "version", name: "order", name: "parcel", name: "event", name: "parcelshop", name: "carrier", name: "depot"]            

info:
  title: Integration API
  description: API for DPD SK internal data flows
  version: 1.0.0
  contact:
    {
      name: "API Support",
      url: "http://www.fores.group/support",
      "email": "support@fores.com"
    }

externalDocs:
  description: "Integration API's guide"
  url: https://foresgroup.sharepoint.com/:f:/s/FTGProjekty/EhPINzfZx8RHm0IXPpbgO3wBvwPYbWe-kmjUamVSgh0AsQ?e=6BrIXz

servers:
- url: https://tools.dpd.sk/integration-api
  description: Integration API

paths:
  "/version":
    get:
      summary: Version of API.
      description: Returns version of API.
      operationId: "getVersion"
      tags: [version]
      responses:
        "200":
          description: Version number returned.
          content: 
            text/html:
              schema:
                type: string
                example: "1.0"
        "404":
          description: Version number failed to fetch because of network/VPN connection failure.
          content:
            text/html:
              schema:
                type: string
                example: "Error: Couldn't resolve host name"
  "/Shp650/1.0/orders/import":
    post:
      summary: Import of order data
      description: Import of order data (from CashApp for instance) into SKDATA2 system and returning extended set of order attributes
      operationId: importOrder
      tags: ["order"]
      requestBody:
        description: Request includes attributes of an order to be created
        content:
          application/json:
            schema:
              type: object
              properties:
                delisId:
                  type: string
                  format: "[a-Z0-9]{6}"
                  description: Identifier of one of the three agreed accounts (mandatory)
                pickupDate:
                  type: string
                  format: YYYYMMDD
                  description: Pickup date in format YYYYMMDD (mandatory)
                senderAddressId:
                  type: string
                  format: "[0-9]{1,10}"
                  description: Address identifier
                recipientTypeId:
                  type: string
                  format: "[BC]{1}"
                  description: Customer type (mandatory) - B=business subject, C=private person
                recipientName:
                  type: string
                  format: "[a-Z]{2,35}"
                  description: Recipient - first name (mandatory)
                recipientName2:
                  type: string
                  format: "[a-Z]{2,35}"
                  description: Recipient - last name
                recipientContactPerson:
                  type: string
                  format: "[a-Z]{2,100}"
                  description: Recipient - first and last name of contact person (mandatory)
                recipientStreet:
                  type: string
                  format: "[a-Z0-9 ]{50}"
                  description: Recipient - street (mandatory)
                recipientHouseNr:
                  type: string
                  format: "[a-Z0-9/]{6}"
                  description: Recipient - house number (mandatory)
                recipientStreet2:
                  type: string
                  format: "[a-Z0-9 ]{50}"
                  description: Recipient - street - second line
                recipientZip:
                  type: string
                  format: "[a-Z0-9]{10}"
                  description: Recipient - zip code (mandatory)
                recipientCity:
                  type: string
                  format: "[a-Z0-9]{50}"
                  description: Recipient - city (mandatory)
                recipientState:
                  type: string
                  format: "[a-Z0-9]{50}"
                  description: Recipient - state
                recipientCountry:
                  type: string
                  format: "[a-Z]{2}"
                  description: Recipient - country (mandatory)
                recipientPhone:
                  type: string
                  format: "(+)[0-9]{1,29}"
                  description: Recipient - phone number (mandatory)
                recipientFax:
                  type: string
                  format: "(+)[0-9]{1,29}"
                  description: Recipient - fax number
                recipientEmail:
                  type: string
                  format: "[a-Z0-9@._]{5,50}"
                  description: Recipient - email address (mandatory)
                recipientNote:
                  type: string
                  format: "[a-Z0-9 ]{1,70}"
                  description: Note about recipient
                recipientReference:
                  type: string
                  format: "[a-Z0-9]{1,35}"
                  description: Recipient - reference
                recipientInformation:
                  type: string
                  format: "[a-Z0-9 ,.]{1,70}"
                  description: Information about recipient
                recipientLanguageCode:
                  type: string
                  format: "[a-Z]{2}"
                  description: Language code (mandatory)
                parcelRank:
                  type: string
                  format: "[0-9,]{1,100}"
                  description: Order of parcels, separated by comma
                parcelCount:
                  type: string
                  format: "[0-9]{1,10}"
                  description: Number of parcels (mandatory)
                parcelSwapCount:
                  type: string
                  format: "[0-9]{1,10}"
                  description: Number of inner parcels (mandatory)
                parcelsVolumes:
                  type: string
                  format: "[0-9,]{1000}"
                  description: Parcels dimensions HHHWWWDDD (H=height, W=width, D=depth) in decimeters, separated by comma
                parcelsWeights:
                  type: string
                  format: "[0-9,]{1000}"
                  description: Parcels weights in decagrams, separated by comma
                parcelNote:
                  type: string
                  format: "[a-Z0-9 ,.]{1,70}"
                  description: Note about parcels
                parcelReference1:
                  type: string
                  format: "[a-Z0-9 ]{35}"
                  description: Reference 1 for parcel
                parcelReference2:
                  type: string
                  format: "[a-Z0-9 ]{35}"
                  description: Reference 2 for parcel
                parcelReference3:
                  type: string
                  format: "[a-Z0-9 ]{35}"
                  description: Reference 3 for parcel
                parcelReference4:
                  type: string
                  format: "[a-Z0-9 ]{35}"
                  description: Reference 4 for parcel
                parcelCodAmount:
                  type: string
                  format: "[0-9]{5}(.)[0-9]{1,2}"
                  description: Cash on Delivery amount
                parcelCodVariableSymbol:
                  type: string
                  format: "[0-9]{1,10}"
                  description: Variable symbol for Cash on Delivery
                parcelCodCardpay:
                  type: string
                  format: "(0/1){1}"
                  description: Card Pay possibility fro Cash on Delivery
                bankAccountId:
                  type: string
                  format: "[0-9]{1,10}"
                  description: Bank Account identifier
                bankAccountIban:
                  type: string
                  format: "CCNNNNNNNNNNNNNNNNNNNNNN"
                  description: Bank Account IBAN
                bankAccountSwift:
                  type: string
                  format: "CCCCCCC"
                  description: Bank Account SWIFT
                bankAccountName:
                  type: string
                  format: "[a-Z0-9 ]{2,25}"
                  description: Bank Account name
                bankAccountNumber:
                  type: string
                  format: "[a-Z0-9]{35}"
                  description: External identifier
                idCheckName:
                  type: string
                  format: "[a-Z]{2,70}"
                  description: First and Last name of a recipient
                idCheckNumber:
                  type: string
                  format: "[a-Z0-9 ]{2,35}"
                  description: Document number (passport, identification card)
                pickupId:
                  type: string
                  format: "[0-9]{1,10}"
                  description: Pickup identifier
                productCode:
                  type: string
                  format: "[a-Z0-9 ]{50}"
                  description: Product code (mandatory) - Classic, Home, AM1 (product DPD 10), AM2 (product DPD 12), AM3 (product DPD 18), 18 (product DPD 18/DPDG), PSD (delivery to parcelshop)
                services:
                  type: string
                  format: "[a-Z0-9 ]{50}"
                  description: Service codes, separated by comma - COD, SMS, Pneu, SWAP, ID
                nops:
                  type: string
                  description: Special services out of routing - not used at the moment
                parcelNoteBack:
                  type: string
                  format: "[a-Z0-9 ,.]{1,70}"
                  description: Note to SWP parcel
                isCollectionRequest:
                  type: string
                  format: "[YN]{1}"
                  description: Collection Request - yes/no (mandatory)
                isCollectionRequestSentToMe:
                  type: string
                  format: "[YN]{1}"
                  description: Collection Request where recipient is customer - yes/no (mandatory)
                info1:
                  type: string
                  format: "[a-Z0-9 ,.]{1,70}"
                  description: (optional)
                info2:
                  type: string
                  format: "[a-Z0-9 ,.]{1,70}"
                  description: (optional)
                senderName:
                  type: string
                  format: "[a-Z0-9 ,.]{2,35}"
                  description: Sender name (filled if senderAddressIs is empty)
                senderCompanyName:
                  type: string
                  format: "[a-Z0-9 ,.]{2,35}"
                  description: Company name of a Sender
                senderName2:
                  type: string
                  format: "[a-Z0-9 ,.]{2,35}"
                  description: Company name of a Sender - the second part
                senderContactPerson:
                  type: string
                  format: "[a-Z ]{2,35}"
                  description: Contact person of a Sender - first and last name
                senderStreet:
                  type: string
                  format: "[a-Z0-9 ]{50}"
                  description: Sender - street (filled if senderAddressIs is empty)
                senderHouseNr:
                  type: string
                  format: "[a-Z0-9/]{6}"
                  description: Sender - house number (filled if senderAddressIs is empty)
                senderStreet2:
                  type: string
                  format: "[a-Z0-9 ]{50}"
                  description: Sender - street, the second line
                senderZip:
                  type: string
                  format: "[a-Z0-9]{10}"
                  description: Sender - zip code (filled if senderAddressIs is empty)
                senderCity:
                  type: string
                  format: "[a-Z0-9]{50}"
                  description: Sender - city (filled if senderAddressIs is empty)
                senderState:
                  type: string
                  format: "[a-Z0-9]{50}"
                  description: Sender - state
                senderCountry:
                  type: string
                  format: "[a-Z]{2}"
                  description: Sender - 2 characters ISO country code (filled if senderAddressIs is empty)
                senderPhone:
                  type: string
                  format: "(+)[0-9]{1,29}"
                  description: Sender - phone number
                senderFax:
                  type: string
                  format: "(+)[0-9]{1,29}"
                  description: Sender - fax number
                senderEmail:
                  type: string
                  format: "[a-Z0-9@._]{5,50}"
                  description: Sender - email address
                returnAddressName:
                  type: string
                  format: "[a-Z0-9 ,.]{2,35}"
                  description: Return Receiver - name
                returnAddressCompanyName:
                  type: string
                  format: "[a-Z0-9 ,.]{2,35}"
                  description: Return Receiver - company name
                returnAddressName2:
                  type: string
                  format: "[a-Z0-9 ,.]{2,35}"
                  description: Return Receiver - name, the second part
                returnAddressContactPerson:
                  type: string
                  format: "[a-Z ]{2,35}"
                  description: Return Receiver - contact person first and last name
                returnAddressStreet:
                  type: string
                  format: "[a-Z0-9 ]{50}"
                  description: Return Receiver - street (mandatory)
                returnAddressHouseNr:
                  type: string
                  format: "[a-Z0-9/]{6}"
                  description: Return Receiver - house number
                returnAddressStreet2:
                  type: string
                  format: "[a-Z0-9 ]{50}"
                  description: Return Receiver - street, the second part
                returnAddressZip:
                  type: string
                  format: "[a-Z0-9]{10}"
                  description: Return Receiver - zip code
                returnAddressCity:
                  type: string
                  format: "[a-Z0-9]{50}"
                  description: Return Receiver - city
                returnAddressState:
                  type: string
                  format: "[a-Z0-9]{50}"
                  description: Return Receiver - state
                returnAddressCountry:
                  type: string
                  format: "[a-Z]{2}"
                  description: Return Receiver - 2 characters ISO country code
                returnAddressPhone:
                  type: string
                  format: "(+)[0-9]{1,29}"
                  description: Return Receiver - phone number
                returnAddressFax:
                  type: string
                  format: "(+)[0-9]{1,29}"
                  description: Return Receiver - fax number
                returnAddressEmail:
                  type: string
                  format: "[a-Z0-9@._]{5,50}"
                  description: Return Receiver - email address
            examples:
              requestBody1: 
                summary: Request body example
                value: { "delisId": "BA6871", "pickupDate": "null", "recipientTypeId": "B", "recipientName": "Test", "recipientName2": "Ignoruj", "recipientContactPerson": "Test Ignoruj 1", "recipientStreet": "Testovacia", "recipientHouseNr": "10", "recipientStreet2": "", "recipientZip": "82103", "recipientCity": "Bratislava", "recipientState": "", "recipientCountry": "SK", "recipientPhone": "0905111111", "recipientFax": "", "recipientEmail": "dpd@dpd.sk", "recipientNote": "", "recipientReference": "test ignoruj!", "recipientInformation": "", "recipientLanguageCode": "SK", "parcelRank": "1", "parcelCount": "1", "parcelSwapCount": "0", "parcelsVolumes": "002002002", "parcelsWeights": "100", "parcelNote": "note", "parcelReference1": "ref1", "parcelReference2": "ref2", "parcelReference3": "ref3", "parcelReference4": "ref4", "parcelCodAmount": "0", "parcelCodVariableSymbol": "", "parcelCodCardpay": "", "bankAccountId": "", "idCheckName": "", "idCheckNumber": "", "pickupId": "", "productCode": "AM1", "services": "", "nops": "", "parcelNoteBack": "", "isCollectionRequest": "N", "isCollectionRequestSentToMe": "N", "info1": "", "info2": "", "senderName": "", "senderCompanyName": "TEST IGNORUJ", "senderName2": "", "senderContactPerson": "", "senderStreet": "Testovacia", "senderHouseNr": "1", "senderStreet2": "", "senderZip": "90301", "senderCity": "Senec", "senderState": "", "senderCountry": "SK", "senderPhone": "", "senderFax": "", "senderEmail": "", "returnAddressName": "", "returnAddressCompanyName": "", "returnAddressName2": "", "returnAddressContactPerson": "", "returnAddressStreet": "", "returnAddressHouseNr": "", "returnAddressStreet2": "", "returnAddressZip": "", "returnAddressCity": "", "returnAddressState": "", "returnAddressCountry": "", "returnAddressPhone": "", "returnAddressFax": "", "returnAddressEmail": ""}
              requestBody2:
                summary: Request body for COD
                value: {"delisId": "BA6871", "pickupDate": "null", "recipientTypeId": "C", "recipientName": "TESTER", "recipientName2": "TESTER", "recipientContactPerson": "TESTER", "recipientStreet": "Hlavná", "recipientHouseNr": "10", "recipientStreet2": "", "recipientZip": "05801", "recipientCity": "Presov", "recipientState": "", "recipientCountry": "SK", "recipientPhone": "0905111111", "recipientFax": "", "recipientEmail": "jan.kratky@test.sk", "recipientNote": "For Jan", "recipientReference": "jan", "recipientInformation": "", "recipientLanguageCode": "SK", "parcelRank": "1", "parcelCount": "2", "parcelSwapCount": "0", "parcelsVolumes": "002002002,003003003", "parcelsWeights": "100,600", "parcelNote": "note", "parcelReference1": "ref1", "parcelReference2": "ref2", "parcelReference3": "ref3", "parcelReference4": "ref4", "parcelCodAmount": "50", "parcelCodVariableSymbol": "", "parcelCodCardpay":"", "bankAccountId": "", "bankAccountIban": "SK6102000000001234567890", "bankAccountSwift": "SUBASKBX", "bankAccountName": "VÚB", "bankAccountNumber": "", "idCheckName": "", "idCheckNumber": "", "pickupId": "", "productCode": "Classic", "services": "COD", "nops": "", "parcelNoteBack": "", "isCollectionRequest": "N", "isCollectionRequestSentToMe": "N", "info1": "", "info2": "", "senderName": "DPD", "senderCompanyName": "", "senderName2": "", "senderContactPerson": "", "senderStreet": "Technická", "senderHouseNr": "7", "senderStreet2": "", "senderZip": "82107", "senderCity": "Bratislava", "senderState": "", "senderCountry": "SK", "senderPhone": "", "senderFax": "", "senderEmail": "", "returnAddressName": "", "returnAddressCompanyName": "", "returnAddressName2": "", "returnAddressContactPerson": "", "returnAddressStreet": "", "returnAddressHouseNr": "", "returnAddressStreet2": "", "returnAddressZip": "", "returnAddressCity": "", "returnAddressState": "", "returnAddressCountry": "", "returnAddressPhone": "", "returnAddressFax": "", "returnAddressEmail": "" }
              requestBody3:
                summary: Request body for COD and custom sender
                value: {"delisId": "BA6871", "senderAddressId": "", "recipientTypeId": "C", "recipientName": "Ján", "recipientName2": "Krátky", "recipientContactPerson": "Ján Krátky", "recipientStreet": "Hlavná", "recipientHouseNr": "10", "recipientStreet2": "", "recipientZip": "82101", "recipientCity": "Bratislava", "recipientState": "", "recipientCountry": "SK", "recipientPhone": "0905111111", "recipientFax": "", "recipientEmail": "jan.kratky@addr.sk", "recipientNote": "For Jan", "recipientReference": "jan", "recipientInformation": "", "recipientLanguageCode": "SK", "parcelRank": "1", "parcelCount": "1", "parcelSwapCount": "0", "parcelsVolumes": "002002002", "parcelsWeights": "100", "parcelNote": "note", "parcelReference1": "ref1", "parcelReference2": "ref2", "parcelReference3": "ref3", "parcelReference4": "ref4", "parcelCodAmount": "50", "parcelCodVariableSymbol": "", "parcelCodCardpay": "", "bankAccountId": "", "bankAccountIban": "SK6102000000001234567890", "bankAccountSwift": "SUBASKBX", "bankAccountName": "VÚB", "bankAccountNumber": "", "idCheckName": "", "idCheckNumber": "", "pickupId": "", "productCode": "Classic", "services": "COD", "nops": "", "parcelNoteBack": "", "isCollectionRequest": "N", "isCollectionRequestSentToMe": "N", "info1": "", "info2": "", "senderName": "Firma s.r.o", "senderContactPerson": "Adam Mada", "senderStreet": "Kvietkovaná", "senderHouseNr": "86", "senderZip": "92101", "senderCity": "Piešťany", "senderCountry": "SK", "senderPhone": "0905123456", "senderEmail": "mada@firma.sk", "returnAddressName": "", "returnAddressCompanyName": "", "returnAddressName2": "", "returnAddressContactPerson": "", "returnAddressStreet": "", "returnAddressHouseNr": "", "returnAddressStreet2": "", "returnAddressZip": "", "returnAddressCity": "", "returnAddressState": "", "returnAddressCountry": "", "returnAddressPhone": "", "returnAddressFax": "", "returnAddressEmail": ""}
              requestBody4:
                summary: Request body for Pickup Address Identifier instead of Sender Address
                value: {"delisId": "BA8098", "senderAddressId": "893121", "recipientTypeId": "C", "recipientName": "Test", "recipientName2": "Testovaci", "recipientContactPerson": "TESTER", "recipientStreet": "Testovacia", "recipientHouseNr": "10", "recipientStreet2": "", "recipientZip": "82101", "recipientCity": "Bratislava", "recipientState": "", "recipientCountry": "SK", "recipientPhone": "0905111111", "recipientFax": "", "recipientEmail": "jan.kratky@addr.sk", "recipientNote": "PIN TEST", "recipientReference": "", "recipientInformation": "", "recipientLanguageCode": "SK", "parcelCount": "1", "parcelSwapCount": "0", "parcelsVolumes": "002002002", "parcelsWeights": "100", "parcelNote": "note", "parcelReference1": "ref1", "parcelReference2": "ref2", "parcelReference3": "ref3", "parcelReference4": "ref4", "productCode": "Home", "parcelNoteBack": "", "isCollectionRequest": "N", "isCollectionRequestSentToMe": "N"}
              requestBody5:
                summary: Request body for PNEU
                value: {"delisId": "BA6871", "pickupDate": "null", "recipientTypeId": "B", "recipientName": "JN Development, s.r.o.", "recipientName2": "null", "recipientContactPerson": "Juraj Králik", "recipientStreet": "Vansovej", "recipientHouseNr": "2", "recipientZip": "81103", "recipientCity": "Bratislava", "recipientCountry": "SK", "recipientPhone": "+421915104051", "recipientEmail": "jkralik@dpd.sk", "recipientNote": "null", "parcelRank": "1", "parcelCount": "2", "parcelsVolumes": "010010010,010010010", "parcelsWeights": "2000,2000", "parcelCodAmount": "0", "parcelCodVariableSymbol": "null", "bankAccountIban": "null", "bankAccountSwift": "null", "bankAccountName": "null", "pickupId": "null", "productCode": "Classic", "services": "TYRE", "isCollectionRequest": "N", "isCollectionRequestSentToMe": "N", "senderName": "Juraj", "senderName2": "Kralik", "senderCompanyName": "null", "senderContactPerson": "null", "senderStreet": "Technická", "senderHouseNr": "7", "senderZip": "82104", "senderCity": "Bratislava", "senderCountry": "SK", "senderPhone": "+421915104051", "senderEmail": "jkralik@dpd.sk"}
              requestBody6:
                summary: Request body for SWAP
                value: {"delisId": "BA4164", "pickupDate": "20180407", "senderAddressId": "87692", "recipientTypeId": "C", "recipientName": "Ján", "recipientName2": "Krátky", "recipientContactPerson": "Ján Krátky", "recipientStreet": "Hlavná", "recipientHouseNr": "10", "recipientStreet2": "", "recipientZip": "82101", "recipientCity": "Bratislava", "recipientState": "", "recipientCountry": "SK", "recipientPhone": "0905111111", "recipientFax": "", "recipientEmail": "jan.kratky@addr.sk", "recipientNote": "For Jan", "recipientReference": "jan", "recipientInformation": "", "recipientLanguageCode": "SK", "parcelRank": "1", "parcelCount": "1", "parcelSwapCount": "1", "parcelsVolumes": "002002002,003003003", "parcelsWeights": "100,600", "parcelNote": "note", "parcelReference1": "ref1", "parcelReference2": "ref2", "parcelReference3": "ref3", "parcelReference4": "ref4", "parcelCodAmount": "0", "parcelCodVariableSymbol": "", "parcelCodCardpay": "", "bankAccountId": "", "bankAccountIban": "SK6102000000001234567890", "bankAccountSwift": "SUBASKBX", "bankAccountName": "VÚB", "bankAccountNumber": "", "idCheckName": "", "idCheckNumber": "", "pickupId": "", "productCode": "Classic", "services": "SWAP", "nops": "", "parcelNoteBack": "", "isCollectionRequest": "N", "isCollectionRequestSentToMe":"N", "info1": "", "info2": "", "senderName": "DPD", "senderCompanyName": "", "senderName2": "", "senderContactPerson": "", "senderStreet": "Technická", "senderHouseNr": "7", "senderStreet2": "", "senderZip": "82107", "senderCity": "Bratislava", "senderState": "", "senderCountry": "SK", "senderPhone": "", "senderFax": "", "senderEmail": "", "returnAddressName": "", "returnAddressCompanyName": "", "returnAddressName2": "", "returnAddressContactPerson": "", "returnAddressStreet": "", "returnAddressHouseNr": "", "returnAddressStreet2": "", "returnAddressZip": "", "returnAddressCity": "", "returnAddressState": "", "returnAddressCountry": "", "returnAddressPhone": "", "returnAddressFax": "", "returnAddressEmail": ""}
        required: true
      responses:
        "200":
          description: Order created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  parcels:
                    type: array
                    description: shipment parcels (mandatory)
                    items:
                      type: object
                      properties:
                        Id:
                          type: integer
                          format: "[0-9]{1,10}"
                          description: Parcel identifier (mandatory)
                        parcelNr:
                          type: string
                          format: "[0-9]{14}"
                          description: Parcel number (mandatory)
                        soCode:
                          type: string
                          format: "[0-9]{3}"
                          description: SO code of a service
                        asCode:
                          type: string
                          format: "[a-Z 0-9]{3}"
                          description: AS code of a service
                        serviceAbbr:
                          type: string
                          format: "[a-Z0-9 ]{35}"
                          description: service abbreviation
                  orderId:
                    type: integer
                    format: "[0-9]{1,10}"
                    description: Order identifier (mandatory)
                  success:
                    type: boolean
                    format: "true/false"
                    description: Order creation success (mandatory)
                  messages:
                    type: array
                    description: Result of order creation attempt - set of messages
                    items:
                      type: string
                      description: Result message
                  mpsId:
                    type: string
                    format: "[a-Z0-9]{35}"
                    description: Shipment identifier (mandatory)
                  soCode:
                    type: string
                    format: "[0-9]{3}"
                    description: SO code of a service
                  asCode:
                    type: string
                    format: "[a-Z 0-9]{3}"
                    description: AS code of a service
              examples:
                responseBody:
                  summary: Response body example - order created
                  value: {"parcels": [{"id": 3074457347050100228, "parcelNr": "06705520000442", "soCode": "179", "asCode": "", "serviceAbbr": "" }, {"id": 3074457347050100229, "parcelNr": "06705520000443", "soCode": "179", "asCode": "", "serviceAbbr": "" }], "orderId": 3074457347050079091, "success": true, "messages": [], "mpsId": "EXP0670552000044220220928", "soCode": "179", "asCode": "" }
        "401":
          description: Wrong ApiKey.
          content:
            text/html:
              schema:
                type: string
                example: "Error: Access Denied - wrong ApiKey"
  "/Shp650/1.0/orders/labels":
    post:
      summary: Printing Labels
      description: Parcel labels in PDF form for existing orders
      operationId: printLabels
      tags: ["order"]
      requestBody:
        description: Request contains order identifiers and paper size
        content:
          application/json:
            schema:
              type: object
              properties:
                orderIds:
                  type: array
                  description: List of existing order identifiers
                  items:
                    type: integer
                    format: "[0-9,]{1,10}"
                    description: existing order identifier
                paperSize:
                  type: string
                  format: "[a-Z0-9]{1,35}"
                  description: Paper format
                generatePickupOrder:
                  type: boolean
                  format: (true/false)
                  description: If a pickup order should be generated
                pickupOrderNote:
                  type: string
                  format: "[a-Z0-9 ]{2,70}"
                  description: Comment to pickup order
            examples:
              requestBody1: 
                summary: Request body example
                value: {"orderIds": [1205936880], "paperSize": "A6", "generatePickupOrder": false, "pickupOrderNote": ""}
        required: true
      responses:
        "200":
          description: stream with PDF file containing labels.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
                description: Base64-encoded contents of the PDF parcel label
                example: ""
  "/Shp650/1.0/orders/{orderId}":
    parameters:
      - name: orderId
        in: path
        description: Order identifier
        required: true
        schema:
          type: integer
    delete:
      summary: Order deletion
      description: Order with specified Id is deleted
      operationId: deleteOrder
      tags: ["order"]
      responses:
        "200":
          description: Order deleted successfully
          content:
            text/html:
              schema:
                type: string
                example: "Order deleted."
        "404":
          description: Order with specified orderId does not exist.
          content:
            text/html:
              schema:
                type: string
                example: "Order not found."
  "/Shp650/1.0/orders/parcels/basic-info/{ParcelNr}":
    parameters:
      - name: ParcelNr
        in: path
        description: Parcel number
        required: true
        schema:
          type: integer
    get:
      summary: Detailed information about parcel
      description: Returns information about shipment, sender, receiver, services and parcel itself
      operationId: getParcelInfo
      tags: ["parcel"]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: set of parcel information
                items:
                  type: object
                  description: parcel information
                  properties:
                    mpsId:
                      type: string
                      format: "[A-Z0-9]{25}"
                      description: shipment identifier
                    sender:
                      type: object
                      description: sender of a shipment
                      properties:
                        companyName":
                          type: string
                          format: "[a-Z0-9 ,.]{2,35}"
                          description: name of sending company
                        name:
                          type: string
                          format: "[a-Z0-9 ,.]{2,35}"
                          description: name of a sender
                        street:
                          type: string
                          format: "[a-Z0-9 ]{50}"
                          description: street in sender address
                        houseNr:
                          type: string
                          format: "[a-Z0-9/]{6}"
                          description: house number in sender address
                        addressLine2:
                          type: string
                          format: "[a-Z0-9 ]{50}"
                          description: the second address line in sender address
                        countryCode:
                          type: string
                          format: "[a-Z]{2}"
                          description: 2 character ISO country code of sender
                        stateCode:
                          type: string
                          format: "[a-Z0-9]{50}"
                          description: 2 character ISO country code of sender
                        zip:
                          type: string
                          format: "[a-Z0-9]{10}"
                          description: zip code in sender address
                        city:
                          type: string
                          format: "[a-Z0-9]{50}"
                          description: city in sender address
                        contactPerson:
                          type: string
                          format: "[a-Z]{2,100}"
                          description: the first name and the last name of o contact person on sender side
                        phone:
                          type: string
                          format: "(+)[0-9]{1,29}"
                          description: phone number of a sender
                        email:
                          type: string
                          format: "[a-Z0-9@._]{5,50}"
                          description: email address of a sender
                        ico:
                          type: string
                          format: "[0-9]{1,15}"
                          description: identification number of a sender company
                        dic:
                          type: string
                          format: "[A-Z0-9]{1,30}"
                          description: identification number of a sender company
                        icDph:
                          type: string
                          format: "[A-Z0-9]{1,30}"
                          description: identification number of a sender company
                    receiver:
                      type: object
                      description: receiver of a shipment
                      properties:
                        companyName":
                          type: string
                          format: "[a-Z0-9 ,.]{2,35}"
                          description: name of receiving company
                        name:
                          type: string
                          format: "[a-Z0-9 ,.]{2,35}"
                          description: name of a receiver
                        street:
                          type: string
                          format: "[a-Z0-9 ]{50}"
                          description: street in receiver address
                        houseNr:
                          type: string
                          format: "[a-Z0-9/]{6}"
                          description: house number in receiver address
                        addressLine2:
                          type: string
                          format: "[a-Z0-9 ]{50}"
                          description: the second address line in receiver address
                        countryCode:
                          type: string
                          format: "[a-Z]{2}"
                          description: 2 character ISO country code of receiver
                        stateCode:
                          type: string
                          format: "[a-Z0-9]{50}"
                          description: 2 character ISO country code of receiver
                        zip:
                          type: string
                          format: "[a-Z0-9]{10}"
                          description: zip code in receiver address
                        city:
                          type: string
                          format: "[a-Z0-9]{50}"
                          description: city in receiver address
                        contactPerson:
                          type: string
                          format: "[a-Z]{2,100}"
                          description: the first name and the last name of o contact person on receiver side
                        phone:
                          type: string
                          format: "(+)[0-9]{1,29}"
                          description: phone number of a receiver
                        email:
                          type: string
                          format: "[a-Z0-9@._]{5,50}"
                          description: email address of a receiver
                        pudoId:
                          type: string
                          format: "[A-Z0-9]{4,10}"
                          description: parcelshop identifier
                    cod:
                      type: boolean
                      format: (true/false)
                      description: cash on delivery - yes/no
                    messages:
                      type: array
                      description: set of messages related with parcel
                      items:
                        type: object
                        description: messages related with parcel
                        properties:
                          senderCompanyName":
                            type: string
                            format: "[a-Z0-9 ,.]{2,35}"
                            description: name of sender company
                          senderContactPerson: 
                            type: string
                            format: "[a-Z]{2,100}"
                            description: the first name and the last name of o contact person
                          messageTypeName:
                            type: string
                            format: ("SMS", "Email")
                            description: type of message
                          destination:
                            type: string
                            format: "(+)[0-9]{1,29} for SMS, [a-Z0-9@._]{5,50} for Email"
                            description: phone number or email address
                          ruleTypeId:
                            type: integer
                            format: (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,900,901,902,903,904,905,906,991,992,993,994,995,996,997,998,999)
                            description: Trigger - Pickup, NonDelivery, Pickup and NonDelivery, Delivery, Out for delivery, NonDelivery and Delivery, Pickup and NonDelivery and Delivery, Receiving on Depot, Pickup and Receiving on Depot, Receiving on Depot and NonDelivery, Pickup and Receiving on Depot and NonDelivery, Receiving on Depot and Delivery, Pickup and Receiving on Depot and NonDelivery, Receiving on Depot and NonDelivery and Delivery, Pickup and Receiving on Depot and NonDelivery and Delivery, Ready for Delivery, Pickup and Ready for Delivery, Ready for Delivery and NonDelivery, Pickup and Ready for Delivery and NonDelivery, Ready for Delivery and Delivery, Pickup and Ready for Delivery and Delivery, Ready for Delivery and NonDelivery and Delivery, Pickup and Ready for Delivery and NonDelivery and Delivery, Receiving to Depot and Ready for Delivery, Pickup and Receiving to Depot and Ready for Delivery, Receiving to Depot and Ready for Delivery and NonDelivery, Pickup and Receiving to Depot and Ready for Delivery and NonDelivery, Receiving to Depot and Ready for Delivery and Delivery, Pickup and Receiving to Depot and Ready for Delivery and NonDelivery, Receiving to Depot and Ready for Delivery and NonDelivery and Delivery, Pickup and Receiving to Depot and Ready for Delivery and NonDelivery and Delivery, Pickup from Parcelshop, Pickup with COD for direct delivery to Parcelshop, Delivery to Parcelshop, Saturday notification, Predict Notification, COD with classical notification, Redirection to Parcelshop, Internal Predict, Pickup with COD information, Pickup with COD information and NonDelivery, Pickup with COD information and Delivery, Pickup and Pickup with COD information and NonDelivery, Pickup with COD information and Delivery and NonDelivery, Pickup and Pickup with COD information and Delivery, Pickup and Pickup with COD information and Delivery and NonDelivery
                          languageCode:
                            type: string
                            format: "[a-Z]{2}"
                            description: 2 character language code for message language
                    shipmentId:
                      type: integer
                      format: "[0-9]{20}"
                      description: shipment identifier
                    senderId:
                      type: integer
                      format: "[0-9]{20}"
                      description: sender identifier
                    receiverId:
                      type: integer
                      format: "[0-9]{20}"
                      description: receiver identifier
                    receiverPersonId":
                      type: integer
                      format: "[0-9]{20}"
                      description: receiver person identifier
                    serviceSetCode:
                      type: string
                      format: "[0-9]{3}"
                      description: service set code
                    serviceSetId:
                      type: integer
                      format: "[0-9]{10}"
                      description: service set identifier
                    serviceSetASCode:
                      type: string
                      format: "[a-Z 0-9]{3}"
                      description: additional service code
                    serviceSetASId:
                      type: integer
                      format: "[0-9]{10}"
                      description: additional service identifier
                    parcelNr:
                      type: string
                      format: "[0-9]{14}"
                      description: parcel number
                    parentParcelId:
                      type: integer
                      format: "[0-9]{20}"
                      description: parent parcel identifier
                    referentialInfo1:
                      type: string
                      format: "[a-Z0-9 ,.]{1,35}"
                      description: parcel reference 1
                    referentialInfo2:
                      type: string
                      format: "[a-Z0-9 ,.]{1,35}"
                      description: parcel reference 2
                    referentialInfo3":
                      type: string
                      format: "[a-Z0-9 ,.]{1,35}"
                      description: parcel reference 3
                    referentialInfo4":
                      type: string
                      format: "[a-Z0-9 ,.]{1,35}"
                      description: parcel reference 4
                    partnerReferentialInfo1":
                      type: string
                      format: "[a-Z0-9 ,.]{1,35}"
                      description: partner reference 1
                    partnerReferentialInfo2:
                      type: string
                      format: "[a-Z0-9 ,.]{1,35}"
                      description: partner reference 2
                    partnerReferentialInfo3:
                      type: string
                      format: "[a-Z0-9 ,.]{1,35}"
                      description: partner reference 3
                    partnerReferentialInfo4:
                      type: string
                      format: "[a-Z0-9 ,.]{1,35}"
                      description: partner reference 4
                    parcelRank:
                      type: integer
                    receiverReference:
                      type: string
                      format: "[a-Z0-9 ,.]{1,35}"
                      description: receiver reference
                    volume:
                      type: string
                      format: "[0-9]{9}"
                      description: Parcel dimensions HHHWWWDDD (H height, W width, D depth) in decimeters
                    declaredWeight:
                      type: integer
                      description: Weight of parcel in decagrams declared by customer
                    measuredWeight:
                      type: integer
                      description: Weight of parcel in decagrams measured on depot
                    insuranceAmount:
                      type: number
                      format: "[0-9]{5}(.)[0-9]{1,2}"
                      description: insured value of a parcel
                    insuranceCurrencyCode:
                      type: string
                      format: "[a-Z]{3}"
                      description: insurance amount currency 3 character code
                    insuranceParcel:
                      type: string
                      format: "[a-Z0-9 ,.]{1,35}"
                      description: insurance parcel text
                    isHazardousParcel:
                      type: boolean
                      format: (true/false)
                      description: if parcel contains hazardous goods
                    hazardousPackingCode:
                      type: string
                      description: packing code of hazardous goods
                    content:
                      type: string
                      format: "[a-Z0-9 ,.]{1,200}"
                      description: content of a parcel
                    originParcelNr:
                      type: string
                    ownerBusinessUnit:
                      type: string
                    partnerCode:
                      type: string
                    bagNr:
                      type: string
                    isDummy:
                      type: boolean
                      format: (true/false)
                      description: if the parcel is not created from avisation data
                    stateId:
                      type: string
                      format: "[a-Z]{1,50}"
                      description: state of a parcel
                    parcelClass:
                      type: string
                      format: "[a-Z0-9]{1,50}"
                    labelType:
                      type: string
                      format: "[a-Z0-9]{1,20}"
                    relabelReference:
                      type: string
                      format: "[a-Z0-9]{1,50}"
                    nonSystemReturnConsolidationParcelId:
                      type: integer
                      format: "[0-9]{1,200}"
                      description: relation to return parcel
                    serviceText:
                      type: string
                      description: service set text code
                    serviceAbbr:
                      type: string
                      format: "[a-Z0-9 ]{35}"
                      description: service abbreviation
                    isLabelGenerated:
                      type: boolean
                      format: (true/false)
                      description: if parcel label was generated or printed
                    isAcceptanceProtocolGenerated:
                      type: boolean
                      format: (true/false)
                    isNotificationGenerated:
                      type: boolean
                      format: (true/false)
                    lastScanId:
                      type: integer
                      format: "[0-9]{1,200}"
                    lastScan02Id:
                      type: integer
                      format: "[0-9]{1,200}"
                    lastScan03Id:
                      type: integer
                      format: "[0-9]{1,200}"
                    lastScanIdWithout18:
                      type: integer
                      format: "[0-9]{1,200}"
                    currentOwnerDepotCode:
                      type: string
                      format: "[0-9]{7}"
                    isBSign:
                      type: boolean
                      format: (true/false)
                    bSignStateId":
                      type: string
                      format: "[a-Z]{1,50}"
                    bSignPinCode:
                      type: string
                      format: "[a-Z0-9]{35}"
                    isCreatedInSophia:
                      type: boolean
                      format: (true/false)
                    customsTariffNumber:
                      type: string
                      format: "[a-Z0-9]{11}"
                      description: HS code of goods
                    itemsNumber:
                      type: integer
                    lastBsignOldCoreSyncDateTime:
                      type: string
                    pinCode:
                      type: string
                      format: "[0-9]{20}"
                    customTransportCost:
                      type: number
                      format: "[0-9]{5}(.)[0-9]{1,2}"
                    customTransportCostCurrencyCode:
                      type: string
                      format: "[a-Z]{3}"
                      description: transport costs currency 3 character code
                    isInvoiced:
                      type: boolean
                      format: (true/false)
                      description: if invoice was placed
                    finalDeliveryAddressId:
                      type: integer
                      format: "[0-9]{1,200}"
                    isLifeCycleClosed:
                      type: boolean
                      format: (true/false)
                      description: if parcel life cycle of a parcel is finished
                    lifeCycleCloseDateTimeUtc:
                      type: string
                    lastRedirectionReceiverId:
                      type: integer
                      format: "[0-9]{1,200}"
                    creationDateTimeUtc:
                      type: string
                    modificationDateTimeUtc:
                      type: string
                    createdByUser:
                      type: string
                      format: "[a-Z0-9 ]{50}"
                    modifiedByUser:
                      type: string
                      format: "[a-Z0-9 ]{50}"
                    id:
                      type: integer
                      format: "[0-9]{1,200}"
                      description: system identifier of a parcel
                    isNew:
                      type: boolean
                      format: (true/false)
                    isPersistent:
                      type: boolean
                      format: (true/false)
              examples:
                responseBody:
                  summary: Response body example - parcel info
                  value: [{"mpsId": "B2C0650560250231520221214", "sender": {"companyName": "", "name": "Profibike (SK21005)", "street": "SNP", "houseNr": "2730/92", "addressLine2": "", "countryCode": "SK", "stateCode": "", "zip": "06901", "city": "Snina", "contactPerson": "", "phone": "+421915118482", "email": "salko.kevljanin@gmail.com", "ico": "null", "dic": "null",   "icDph": "null",}, "receiver": {"companyName": "", "name": "SAZKA a.s. - Luboš Kozakevič", "street": "Stará Kysibelská", "houseNr": "645/71", "addressLine2": "", "countryCode": "CZ",     "stateCode": "", "zip": "36001", "city": "Karlovy Vary", "contactPerson": "", "phone": "+420723582667", "email": "hucifinka@gmail.com", "pudoId": "CZ10846" }, "cod": false, "messages": [{   "senderCompanyName": "Profibike (SK21005)", "senderContactPerson": "Profibike (SK21005)", "messageTypeName": "SMS", "destination": "+420723582667", "ruleTypeId": 902, "languageCode": "SK"}, {"senderCompanyName": "Profibike (SK21005)", "senderContactPerson": "Profibike (SK21005)", "messageTypeName": "Email", "destination": "hucifinka@gmail.com", "ruleTypeId": 902,     "languageCode": "SK", }], "shipmentId": 3074457347051241208, "senderId": 3074457347051254932, "receiverId": 3074457347051254986, "receiverPersonId": 3074457347050017545, "serviceSetCode": "345", "serviceSetId": 1294, "serviceSetASCode": "A15", "serviceSetASId": 88, "parcelNr": "06505602502315", "parentParcelId": 0, "referentialInfo1": "", "referentialInfo2": "",   "referentialInfo3": "", "referentialInfo4": "", "partnerReferentialInfo1": "", "partnerReferentialInfo2": "", "partnerReferentialInfo3": "", "partnerReferentialInfo4": "", "parcelRank": 1,   "receiverReference": "", "volume": "025050100", "declaredWeight": 50, "measuredWeight": 0, "insuranceAmount": 0, "insuranceCurrencyCode": "", "insuranceParcel": "", "isHazardousParcel": false, "hazardousPackingCode": "", "content": "", "originParcelNr": "", "ownerBusinessUnit": "DPD", "partnerCode": "", "bagNr": "", "isDummy": false, "stateId": "ReadyForPickup",   "parcelClass": "", "labelType": "", "relabelReference": "", "nonSystemReturnConsolidationParcelId": 0, "serviceText": "", "serviceAbbr": "", "isLabelGenerated": true, "isAcceptanceProtocolGenerated": false, "isNotificationGenerated": false, "lastScanId": 0, "lastScan02Id": 0, "lastScan03Id": 0, "lastScanIdWithout18": 0, "currentOwnerDepotCode": "", "isBSign": false, "bSignStateId": "", "bSignPinCode": "", "isCreatedInSophia": true, "customsTariffNumber": "", "itemsNumber": 0, "lastBsignOldCoreSyncDateTime": "1900-01-01T00:00:00.0000000Z", "pinCode": "4285", "customTransportCost": 0, "customTransportCostCurrencyCode": "", "isInvoiced": false, "finalDeliveryAddressId": 0, "isLifeCycleClosed": false, "lifeCycleCloseDateTimeUtc": "1900-00-00T00:00:00.0000000Z",   "lastRedirectionReceiverId": 0, "creationDateTimeUtc": "2022-12-14T20:01:17.0611434Z", "modificationDateTimeUtc": "2022-12-14T20:01:17.9244317Z", "createdByUser": "NETWORK SERVICE",   "modifiedByUser": "NETWORK SERVICE", "id": 3074457347051396780, "isNew": false, "isPersistent": true}]
  "/Shp650/1.0/events/pus/parcels/{ParcelNr}":
    parameters:
      - name: ParcelNr
        in: path
        description: Parcel number
        required: true
        schema:
          type: integer
    get:
      summary: Parcelshop events for parcel
      description: Returns information about parcel events in parcelshop
      operationId: getParcelPUSevents
      tags: ["parcel", "event"]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: set of event information in parcelshop for parcel
                items:
                  type: object
                  description: event information in parcelshop for parcel
                  properties:
                    code:
                      type: string
                      format: (DODEY/DOPKY/DODEI/DODEN/DODEH)
                      description: track and trace event code - DODEY=Parel collected by the consignee in PUDO, DOPKY=Drop off in PUDO, DODEI=PUDO parcel received, DODEN=Parcel collection in PUDO failed or was refused by consignee, DODEH=Parcel handovered from PUDO to the driver
                    agentLocationCode:
                      type: string
                      format: CCNNNNN
                      description: Parcelshop code
                    dateTimeUtc:
                      type: string
                      format: yy-mm-ddThh:MM:ssZ
                      description: event date and time
                    parcelNr:
                      type: string
                      format: "[0-9]{14}"
                      description: Parcel number
                    soCode:
                      type: string
                      format: "[0-9]{3}"
                      description: SOCODE (service code)
                    asCode:
                      type: string
                      format: "[a-Z 0-9]{3}"
                      description: ASCODE (additional service code)
                    creationDateTimeUtc:
                      type: string
                      format: yy-mm-ddThh:MM:ssZ
                      description: date and time of creation in SKDATA2
                    modificationDateTimeUtc:
                      type: string
                      format: yy-mm-ddThh:MM:ssZ
                      description: date and time of last modification in SKDATA2
                    receiverDetail:
                      type: object
                      description: Information about receiver
                      properties:
                        name:
                          type: string
                          format: "[a-Z]{2,35}"
                          description: The first name and the last name of a receiver
                        street:
                          type: string
                          format: "[a-Z0-9 ]{50}"
                          description: Street of a receiver
                        houseNr:
                          type: string
                          format: "[a-Z0-9/]{6}"
                          description: House number of a receiver
                        zip:
                          type: string
                          format: "[a-Z0-9]{10}"
                          description: Zip code of a receiver
                        city:
                          type: string
                          format: "[a-Z0-9]{50}"
                          description: City of a receiver
                        countryCode:
                          type: string
                          format: "[a-Z]{2}"
                          description: 2 character ISO code of a receiver country
                    codDetail:
                      type: object
                      description: Information about Cash on Delivery
                      properties:
                        amount:
                          type: number
                          format: "[0-9.]{20}"
                          description: Amount of COD
                        currencyCode:
                          type: string
                          format: "[a-Z]{3}"
                          description: 3 character currency code
                        paymentType:
                          type: string
                          format: "[a-Z]{10}"
                          description: payment type - Cash, Crossed Cheque, Credit Card, Gateway, Combination
                    idCheckDetail:
                      type: object
                      description: Information about receiver identity check
                      properties:
                        type:
                          type: string
                          format: "ID_RECORD"
                        documentType:
                          type: string
                          format: (ID_CARD/PASSPORT)
                          description: type of document necessary for identification
                        documentNumber:
                          type: string
                          format: "[a-Z0-9 ]{2,35}"
                          description: number of an identification document
              examples:
                responseBody:
                  summary: Response body example - parcelshop events of a parcel
                  value: [{"code": "DODEI", "agentLocationCode": "SK10495", "dateTimeUtc": "2022-05-04T07:56:35Z", "parcelNr": "06565610444092", "soCode": "329", "asCode": "", "creationDateTimeUtc": "2022-05-04T08:30:53.5966667Z", "modificationDateTimeUtc": "2022-05-04T08:30:56.4633333Z", "receiverDetail": {}, "codDetail": {}, "idCheckDetail": {}, }, {"code": "DODEY", "agentLocationCode": "SK10495", "dateTimeUtc": "2022-05-09T11:29:24Z", "parcelNr": "06565610444092", "soCode": "329", "asCode": "", "creationDateTimeUtc": "2022-05-09T12:15:36.7266667Z", "modificationDateTimeUtc": "2022-05-09T12:15:40.1466667Z", "receiverDetail": {"name": "Koskova", "street": "", "houseNr": "", "zip": "", "city": "", "countryCode": "SK"}, "codDetail": {"amount": 99.5, "currencyCode": "EUR", "paymentType": "card", "transactionCode": "673560" }, "idCheckDetail": { "type": "ID_RECORD", "documentType": "ID_CARD", "documentNumber": "58935", }}]
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                description: timeout
                properties:
                  key:
                    type: string
                    format: "[a-Z0-9_]{100}"
                    description: Exception type
                  message:
                    type: string
                    format: "[a-Z0-9_]{1000}"
                    description: Exception message
                  httpStatusCode:
                    type: integer
                    description: numeric code of an exception
                  stackTrace:
                    type: string
                    description: logged information about exception
                  params:
                    type: array
                    description: array of exception parameters
              examples:
                responseBody:
                  summary: Response body example - exception
                  value: { "key": "general_exception", "message": "The wait operation timed out", "httpStatusCode": 500, "stackTrace": "null", "params": [] }
  "/Shp650/1.0/events/pus/modified-since/{sinceDateUtc}/{pageindex}/{pagesize}":
    parameters:
      - name: sinceDateUtc
        in: path
        description: date and time the events occured from
        required: true
        schema:
          type: string
          format: "yyyyMMddHHmmss"
      - name: pageindex
        in: path
        description: page index if paging is applied (1 if not)
        required: true
        schema:
          type: integer
          format: "[0-9]{10}"
      - name: pagesize
        in: path
        description: number of records on page if paging is applied (0 or negative number means paging is not applied)
        required: true
        schema:
          type: integer
          format: "[0-9]{10}"
    get:
      summary: Parcelshop events from given date and time
      description: Returns information about events in all parcelshops for all parcels from given datetime
      operationId: getPUSeventsFromDatetime
      tags: ["event"]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: set of event information in parcelshop for parcel
                items:
                  type: object
                  description: event information in parcelshop for parcel
                  properties:
                    code:
                      type: string
                      format: (DODEY/DOPKY/DODEI/DODEN/DODEH)
                      description: track and trace event code - DODEY=Parel collected by the consignee in PUDO, DOPKY=Drop off in PUDO, DODEI=PUDO parcel received, DODEN=Parcel collection in PUDO failed or was refused by consignee, DODEH=Parcel handovered from PUDO to the driver
                    agentLocationCode:
                      type: string
                      format: CCNNNNN
                      description: Parcelshop code
                    dateTimeUtc:
                      type: string
                      format: yy-mm-ddThh:MM:ssZ
                      description: event date and time
                    parcelNr:
                      type: string
                      format: "[0-9]{14}"
                      description: Parcel number
                    soCode:
                      type: string
                      format: "[0-9]{3}"
                      description: SOCODE (service code)
                    asCode:
                      type: string
                      format: "[a-Z 0-9]{3}"
                      description: ASCODE (additional service code)
                    creationDateTimeUtc:
                      type: string
                      format: yy-mm-ddThh:MM:ssZ
                      description: date and time of creation in SKDATA2
                    modificationDateTimeUtc:
                      type: string
                      format: yy-mm-ddThh:MM:ssZ
                      description: date and time of last modification in SKDATA2
                    receiverDetail:
                      type: object
                      description: Information about receiver
                      properties:
                        name:
                          type: string
                          format: "[a-Z]{2,35}"
                          description: The first name and the last name of a receiver
                        street:
                          type: string
                          format: "[a-Z0-9 ]{50}"
                          description: Street of a receiver
                        houseNr:
                          type: string
                          format: "[a-Z0-9/]{6}"
                          description: House number of a receiver
                        zip:
                          type: string
                          format: "[a-Z0-9]{10}"
                          description: Zip code of a receiver
                        city:
                          type: string
                          format: "[a-Z0-9]{50}"
                          description: City of a receiver
                        countryCode:
                          type: string
                          format: "[a-Z]{2}"
                          description: 2 character ISO code of a receiver country
                    codDetail:
                      type: object
                      description: Information about Cash on Delivery
                      properties:
                        amount:
                          type: number
                          format: "[0-9.]{20}"
                          description: Amount of COD
                        currencyCode:
                          type: string
                          format: "[a-Z]{3}"
                          description: 3 character currency code
                        paymentType:
                          type: string
                          format: "[a-Z]{10}"
                          description: payment type - Cash, Crossed Cheque, Credit Card, Gateway, Combination
                    idCheckDetail:
                      type: object
                      description: Information about receiver identity check
                      properties:
                        type:
                          type: string
                          format: "ID_RECORD"
                        documentType:
                          type: string
                          format: (ID_CARD/PASSPORT)
                          description: type of document necessary for identification
                        documentNumber:
                          type: string
                          format: "[a-Z0-9 ]{2,35}"
                          description: number of an identification document
              examples:
                responseBody:
                  summary: Response body example - parcelshop events
                  value: [{"code": "DODEI", "agentLocationCode": "SK20790", "dateTimeUtc": "2022-11-14T11:36:15Z", "parcelNr": "13490018336736", "soCode": "327", "asCode": "", "creationDateTimeUtc": "2022-11-14T16:55:29.969195Z", "modificationDateTimeUtc": "2022-11-15T01:55:17.3058635Z", "receiverDetail": {}, "codDetail": {}, "idCheckDetail": {"type": "PINCODE",     "documentType": "", "documentNumber": "968157"}}, {"code": "DODEI", "agentLocationCode": "SK20676", "dateTimeUtc": "2022-11-14T11:37:12Z", "parcelNr": "06505075556806", "soCode": "327",   "asCode": "", "creationDateTimeUtc": "2022-11-14T16:55:29.937941Z", "modificationDateTimeUtc": "2022-11-15T01:55:17.3137194Z", "receiverDetail": {}, "codDetail": {}, "idCheckDetail": {   "type": "PINCODE", "documentType": "", "documentNumber": "397365" }}, {"code": "DODEI", "agentLocationCode": "SK20528", "dateTimeUtc": "2022-11-14T11:52:04Z", "parcelNr": "06545600361899",   "soCode": "329", "asCode": "", "creationDateTimeUtc": "2022-11-14T17:05:26.3366062Z", "modificationDateTimeUtc": "2022-11-15T02:00:32.753294Z", "receiverDetail": {}, "codDetail": {},     "idCheckDetail": {"type": "PINCODE", "documentType": "", "documentNumber": "_NOPIN_" }}, {"code": "DOPKY", "agentLocationCode": "SK10730", "dateTimeUtc": "2022-11-14T14:52:05Z", "parcelNr": "06505602467465", "soCode": "345", "asCode": "", "creationDateTimeUtc": "2022-11-15T07:05:28.6483824Z", "modificationDateTimeUtc": "2022-11-15T07:05:29.2533333Z", "receiverDetail": {     "name": "Štefan Monika Čeri", "street": "", "houseNr": "", "zip": "", "city": "", "countryCode": "SK" }, "codDetail": {}, "idCheckDetail": {} }]
  "/Shp650/1.0/pudo/sk":
    get:
      summary: List of Parcelshops
      description: Returns list of all parcelshops and their properties
      operationId: getPUS
      tags: ["parcelshop"]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: set of parcelshop information
                items:
                  type: object
                  description: parcelshop properties
                  properties:
                    pusId:
                      type: string
                      format: "[A-Z0-9]{4,10}"
                      description: parcelshop identifier
                    oldId:
                      type: integer
                      format: "[0-9]{10}"
                      description: old parcelshop identifier
                    driverId:
                      type: integer
                      format: "[0-9]{10}"
                      description: courier identifier
                    variableSymbol:
                      type: string
                      format: "[0-9]{10}"
                      description: Variable symbol assigned to a parcelshop
                    name:
                      type: string
                      format: "[a-Z ]{5,50}"
                      description: Name of a parcelshop
                    email:
                      type: string
                      format: "[a-Z0-9@._]{5,50}"
                      description: Email address of a parcelshop
                    phone:
                      type: string
                      format: "(+)[0-9]{1,29}"
                      description: Phone number of a parcelshop in e.164 format
                    latitude:
                      type: number
                      format: "(-)[0-9.]{53}"
                      description: geografical position of a parcelshop - latitude
                    longitude:
                      type: number
                      format: "(-)[0-9.]{53}"
                      description: geografical position of a parcelshop - longitude
                    state:
                      type: string
                      format: (Active/Inactive)
                      description: Current status of a parcelshop
                    creationDateTimeUtc:
                      type: string
                      format: yy-mm-ddThh:MM:ssZ
                      description: date and time of creation in SKDATA2
                    modificationDateTimeUtc:
                      type: string
                      format: yy-mm-ddThh:MM:ssZ
                      description: date and time of last modification in SKDATA2
                    address:
                      type: object
                      description: address of a parcelshop
                      properties:
                        street:
                          type: string
                          format: "[a-Z0-9 ]{50}"
                          description: Street of a parcelshop
                        houseNr:
                          type: string
                          format: "[a-Z0-9/]{6}"
                          description: House number of a parcelshop
                        zip:
                          type: string
                          format: "[a-Z0-9]{10}"
                          description: Zip code of a parcelshop
                        city:
                          type: string
                          format: "[a-Z0-9]{50}"
                          description: City of a parcelshop
                        countryCode:
                          type: string
                          format: "[0-9]{3}"
                          description: 3 numbers ISO code of a parcelshop country
                    properties:
                      type: array
                      description: set of parcelshop properties
                      items:
                        type: object
                        description: characteristic of a parcelshop
                        properties:
                          name:
                            type: string
                            format: "[a-z_]{50}"
                            description: name of a property
                          value:
                            type: string
                            format: "[0-9]{10}"
                            description: value of a property
              examples:
                responseBody:
                  summary: Response body example - list of parcelshops
                  value: [{"pusId": "SK10015", "oldId": 4463, "driverId": 101570, "variableSymbol": "0650101570", "name": "Pobočka DPD Bratislava", "email": "ompickup650@dpd.sk", "phone": "", "latitude": 48.174301, "longitude": 17.176908, "state": "Inactive", "creationDateTimeUtc": "2022-09-13T18:35:07.3533333Z", "modificationDateTimeUtc": "2022-09-13T18:35:07.3533333Z",   "address": {"street": "Technická", "houseNr": "7", "zip": "82104", "city": "Bratislava", "country": 703 }, "properties": [{"name": "pos_terminal", "value": "0"}, {"name": "max_weight",         "value": "" }, {"name": "max_parcel_count", "value": "" }, {"name": "is_internal", "value": "1" }, {"name": "published", "value": "0" }, {"name": "pickup_allowed", "value": "1" }] }, { "pusId": "SK10006", "oldId": 4538, "driverId": 101764, "variableSymbol": "0650101764", "name": "Mountfield TEST'2", "email": "test@test.com", "phone": "", "latitude": 48.288208, "longitude": 17.269759, "state": "Inactive", "creationDateTimeUtc": "2022-09-13T18:35:07.3533333Z", "modificationDateTimeUtc": "2022-09-13T18:35:07.3533333Z", "address": {"street": "M. R. Štefánika",     "houseNr": "24", "zip": "90201", "city": "Pezinok", "country": 703 }, "properties": [{"name": "pos_terminal", "value": "0" }, {"name": "max_weight", "value": "20000" }, {"name": "max_parcel_count", "value": "20" }, {"name": "is_internal", "value": "0" }, {"name": "published", "value": "0" }, {"name": "pickup_allowed", "value": "1" }] }, {"pusId": "", "oldId": 3883,   "driverId": 101720, "variableSymbol": "0650101720", "name": "Soľná baňa", "email": "palorusovce@azet.sk", "phone": "", "latitude": 48.052993, "longitude": 17.147846, "state": "Deleted",     "creationDateTimeUtc": "2022-09-13T18:35:07.3533333Z", "modificationDateTimeUtc": "2022-09-13T18:35:07.3533333Z", "address": {"street": "Balkánska", "houseNr": "83", "zip": "85110", "city": "Bratislava", "country": 703 }, "properties": [{"name": "pos_terminal", "value": "0" }, {"name": "max_weight", "value": "" }, {"name": "max_parcel_count", "value": "" }, {"name": "is_internal", "value": "0" }, {"name": "published", "value": "0" }, {"name": "pickup_allowed", "value": "0" }] }]
  "/Shp650/1.0/carriers":
    parameters:
      - name: sinceDate
        in: query
        description: date and time the carriers active from
        required: false
        schema:
          type: string
          format: "yyyyMMddHHmmss"
      - name: onlyActive
        in: query
        description: filter to Active status of a carrier
        required: false
        schema:
          type: boolean
          format: (true/false)
    get:
      summary: Carriers from given date and time
      description: Returns information about carriers active from given datetime
      operationId: getCarriers
      tags: ["carrier"]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: set of carrier information
                items:
                  type: object
                  description: carrier information
                  properties:
                    id:
                      type: integer
                      format: "[0-9]{10}"
                      description: carrier identifier
                    name:
                      type: string                   
                      description: carrier name
                    location:
                      type: string
                      format: Varchar(7)
                      description: 7 digits depot code the carrier belongs to
                    pusId:
                      type: string
                      format: "[A-Z0-9]{4,10}"
                      description: parcelshop identifier
                    comapnyId:
                      type: string
                      format: "[0-9]{15}"
                      description: Identification number of a carrier company
                    vatId:
                      type: string
                      format: "[A-Z0-9]{30}"
                      description: VAT number of a carrier company
                    dicId:
                      type: string
                      format: Varchar(30)
                      description: Tax number of a carrier company
                    isVatPayer:
                      type: boolean
                      format: (true/false)
                      description: If carrier is VAT payer
                    address:
                      type: object
                      description: Carrier address
                      properties:
                        id:
                          type: integer
                          description: Address identifier in SKDATA2
                        street:
                          type: string
                          format: varchar(35)
                          description: Street of a carrier address
                        houseNr:
                          type: string
                          format: "[a-Z0-9/]{6}"
                          description: House number of a carrier address
                        zip:
                          type: string
                          format: "[a-Z0-9]{10}"
                          description: Zip code of a carrier address
                        city:
                          type: string
                          format: "[a-Z0-9]{50}"
                          description: City of a carrier address
                        countryCode:
                          type: string
                          format: "[0-9]{3}"
                          description: 3 numbers ISO code of a carrier country
                    email:
                      type: string
                      format: Varchar(100)
                      description: Email address of a carrier
                    phone:
                      type: string
                      format: Varchar(30)
                      description: Phone number of a carrier
                    active:
                      type: boolean
                      format: (true/false)
                      description: If carrier is Active
                    type:
                      type: string
                      format: Varchar(2)
                      description: Type of cooperation with carrier - Fr=Franchisor Hl=Výpomoc In=DPD Lh=Linehaul Pa=Paletová preprava St=Štandard No=Neuvedená
                    bankName:
                      type: string
                      description: Name of bank where carrier has an account
                    bankAccountNumber:
                      type: string
                      description: Account number of a carrier
                    bicId:
                      type: string
                      description: BIC of a carrier
                    creationDateTimeUtc:
                      type: string
                      format: yy-mm-ddThh:MM:ssZ
                      description: date and time of creation in SKDATA2
                    modificationDateTimeUtc:
                      type: string
                      format: yy-mm-ddThh:MM:ssZ
                      description: date and time of last modification in SKDATA2
              examples:
                responseBody:
                  summary: Response body example - list of carriers
                  value: [{"id": 1643, "name": "ABC Data", "location": "0160065", "pusId": "", "companyId": "", "vatId": "", "dicId": "", "isVatPayer": true, "address": {"id": 13118782,     "street": "Sosnowiecka", "houseNo": "", "zip": "00000", "city": "Sosnowiec", "country": 703 }, "email": "", "phone": "", "active": false, "type": "In", "bankName": "", "bankAccountNumber": "", "bicId": "", "creationDateTimeUtc": "2017-09-29T08:52:36.453Z", "modificationDateTimeUtc": "2022-05-02T07:43:47.2966363Z" }, {"id": 1644, "name": "AMWAY Slovensko s.r.o.", "location": "0160065", "pusId": "", "companyId": "", "vatId": "", "dicId": "", "isVatPayer": true, "address": {"id": 13118783, "street": "Letná", "houseNo": "3", "zip": "83103", "city": "Bratislava",     "country": 703 }, "email": "", "phone": "", "active": true, "type": "In", "bankName": "", "bankAccountNumber": "", "bicId": "", "creationDateTimeUtc": "2017-09-29T08:52:36.453Z",   "modificationDateTimeUtc": "2017-09-29T08:52:36.453Z" }, {"id": 1645, "name": "AT Computer s.r.o.", "location": "0160065", "pusId": "", "companyId": "", "vatId": "", "dicId": "", "isVatPayer": true, "address": {"id": 13118784, "street": "Tešínska", "houseNo": "1970/56", "zip": "71000", "city": "Ostrava - Slezka", "country": 703 }, "email": "", "phone": "", "active": true, "type": "In", "bankName": "", "bankAccountNumber": "", "bicId": "", "creationDateTimeUtc": "2017-09-29T08:52:36.453Z", "modificationDateTimeUtc": "2017-09-29T08:52:36.453Z" }]
  "/Shp650/1.0/depots":
    parameters:
      - name: onlyActive
        in: query
        description: if only active depots should be filtered
        required: true
        schema:
          type: boolean
          format: (true/false)
    get:
      summary: List of depots
      description: Returns information about depots
      operationId: getDepots
      tags: ["depot"]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: set of depot information
                items:
                  type: object
                  description: depot information
                  properties:
                    id:
                      type: integer
                      format: "[0-9]{10}"
                      description: depot identifier
                    name:
                      type: string
                      format: varchar(35)
                      description: name of a depot
                    location:
                      type: string
                      format: NNNNNNN
                      description: 7 digits depot code
                    address:
                      type: object
                      description: address of a depot
                      properties:
                        id:
                          type: integer
                          description: Address identifier in SKDATA2
                        street:
                          type: string
                          format: varchar(35)
                          description: Street of a depot address
                        houseNr:
                          type: string
                          format: "[a-Z0-9/]{6}"
                          description: House number of a depot address
                        zip:
                          type: string
                          format: "[a-Z0-9]{10}"
                          description: Zip code of a depot address
                        city:
                          type: string
                          format: "[a-Z0-9]{50}"
                          description: City of a depot address
                        countryCode:
                          type: string
                          format: "[0-9]{3}"
                          description: 3 numbers ISO code of a depot country
                    email:
                      type: string
                      format: Varchar(100)
                      description: Email address of a depot
                    phone:
                      type: string
                      format: Varchar(30)
                      description: Phone number of a depot
                    active:
                      type: boolean
                      format: (true/false)
                      description: If depot is Active
                    type:
                      type: string
                      format: Varchar(2)
                      description: Type of cooperation with depot - Fr=Franchisor In=DPD
                    creationDateTimeUtc:
                      type: string
                      format: yy-mm-ddThh:MM:ssZ
                      description: date and time of creation in SKDATA2
                    modificationDateTimeUtc:
                      type: string
                      format: yy-mm-ddThh:MM:ssZ
                      description: date and time of last modification in SKDATA2
              examples:
                responseBody:
                  summary: Response body example - list of carriers
                  value: [{"id": 44, "name": "HUB 065 Dolný Hričov", "location": "0160065", "address": {"id": 13118761, "street": "Na skalu", "houseNo": "504/3", "zip": "01341", "city": "Dolný Hričov", "country": 703 }, "email": "", "phone": "18 373", "active": true, "type": "Int", "creationDateTimeUtc": "2017-09-29T08:51:41.553Z", "modificationDateTimeUtc": "2019-10-30T14:30:08.1433333Z" }, {"id": 45, "name": "Depo 0650 Bratislava", "location": "0160650", "address": {"id": 13118762, "street": "Pri letisku 19020/5 Pharos Park", "houseNo": "", "zip": "82104", "city": "Bratislava Pharos", "country": 703 }, "email": "", "phone": "18 373", "active": true, "type": "Int", "creationDateTimeUtc": "2017-09-29T08:51:41.57Z", "modificationDateTimeUtc": "2022-05-26T06:31:39.1944856Z" }, {"id": 46, "name": "Depo 0651 Zvolen", "location": "0160651", "address": {"id": 13118763, "street": "Trňanská 6", "houseNo": "", "zip": "96001", "city": "Zvolen", "country": 703 }, "email": "", "phone": "18 373", "active": true, "type": "Int", "creationDateTimeUtc": "2017-09-29T08:51:41.6Z", "modificationDateTimeUtc": "2022-06-30T18:35:57.8321707Z" }]
  